@import "./variables.scss";
@import "./common.scss";
@import './typography.scss';

$grid-columns: 12;
$grid-gutter-width: 48px;
$grid-column-width: 48px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// @import "~bootstrap/scss/grid";


.app-header>.project-name{
    text-align: left;
    letter-spacing: 0;
    color: var(--kendo-color-on-app-surface);
    opacity: 1;
  }
  
  .app-header>.nav{
    float: righnpmt;
  }
  
  .content {
    min-height: 100vh;
  }
  
  .logo {
    font-weight: var(--kendo-font-weight-bold);
    font-size: var(--kendo-font-size-xl);
  }
  
  .welcome {
    text-align: center;
    font-weight: var(--kendo-font-weight-black);
    letter-spacing: 0;
    color: var(--kendo-color-on-app-surface);
    opacity: 1;
  }
  
  .sub-header {
    text-align: center;
    font-weight: var(--kendo-font-weight-normal);
    letter-spacing: 0;
    color: var(--kendo-color-subtle);
    opacity: 1;
    margin-bottom: var(--kendo-spacing-16);
  }
  
  .get-started {
    text-align: center;
    font-weight: var(--kendo-font-weight-black);
    font-size: var(--kendo-font-size-xl);
    letter-spacing: 0;
    color: var(--kendo-color-on-app-surface);
    opacity: 1;
    margin-bottom: var(--kendo-spacing-4);
  }
  
  .kendoka {
    width: 12.5rem;
    height: 12.5rem;
    opacity: 1;
  }
  
  .change-theme {
    font-size: var(--kendo-font-size-sm);
    color: var(--kendo-color-subtle);
  }
  
  .components-list>p>a {
    margin-left: 0.6em;
  }
  .components-list>p>img {
    width: 1.25rem;
    height: 1.3125rem;
  }

  .divider {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    opacity: 0.2;
  }
  
  .copyright{
    letter-spacing: 0.33px;
    color: var(--kendo-color-on-primary);
    opacity: 0.6;
  }
  
  .k-widget.k-menu {
    height: 100%;
  }
  
  .social img {
    margin-left: 3rem;
  }

  // Header
.header-bg {
  background-image: url('./assets/images/header-bg.png');
}

.header {
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 3;

  .nav-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      color: var(--kendo-color-on-primary);
  }

  .menu-button {
      flex: 0 0 50px;
      text-align: center;
  }

  .hamburger-icon {
      background-image: url('./assets/images/hamburger-icon.svg');
      background-repeat: no-repeat;
      width: 20px;
      cursor: pointer;
  }

  .title {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      align-items: flex-start;
      margin-left: var(--kendo-spacing-6);
      color: var(--kendo-color-on-primary);
      
        h1,
        h2 {
          font-size: var(--kendo-font-size-lg);
          font-weight: var(--kendo-font-weight-normal);
        }
  }

  .k-avatar {
      display: block;
      width: 40px;
      height: 40px;
      flex-basis: 40px;
      margin: 0 var(--kendo-spacing-6);
      box-shadow: 0 0 0 var(--kendo-spacing-1px) var(--kendo-color-on-primary);
  }

  .settings {
      display: none;
  }
}

@media (min-width: 480px) {
  .header {
      .title {
          flex-direction: row;
          align-items: center;
      }
      .vl {
          border-left: var(--kendo-spacing-1px) solid var(--kendo-color-on-primary);
          height: 25px;
          margin: 6px 15px;
      }
  }
}

@media (min-width: 768px) {
  .header {
      .settings {
          display: flex;
          flex: 0 0 auto;
          align-items: center;
      }

      .k-dropdown {
          max-width: 90px;
          margin-left: 15px;
      }
  }
}

.header {
  .title {
      flex-direction: row;
      align-items: center;
  }
  .vl {
      border-left: var(--kendo-spacing-1px) solid var(--kendo-color-on-primary);
      height: 25px;
      margin: 6px 15px;
  }
}

.k-widget.k-dropdown.localeDropDownList {
  background-color: var(--kendo-color-surface-alt);
  border-radius: var(--kendo-border-radius-sm);
}


.k-menu.k-menu-vertical:not(.k-context-menu){
  padding:0;
}
.k-dropdownlist.localeDropDownList {
  min-width: 100px;
  margin: 10px;
}