:root {
  --kendo-font-family: "Roboto", sans-serif;
  --kendo-translucency-base: 25%;
  --kendo-translucency-blur-base: 6px;
  --kendo-translucency-blur-step: 2px;
}

$info-background: var(--kendo-color-inverse);