:root {
    --kendo-color-app-surface: #fbfbfb;
    --kendo-color-on-app-surface: #252830;
    --kendo-color-primary: #1ca8dd;
    --kendo-color-success: #27c46d;
    --kendo-color-info: #52c3d3;
    --kendo-color-warning: #ff9966;
    --kendo-color-error: #cf3257;
    --kendo-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --kendo-font-size: 0.875rem;
    --kendo-line-height: 1.5;
    --kendo-translucency-base: 24%;
    --dashboard-navigation-width: calc(var(--kendo-spacing-20) * 4);
}

body {
    color: var(--kendo-color-on-app-surface);
    background-color: var(--kendo-color-app-surface);
    font-family: var(--kendo-font-family);
    font-size: var(--kendo-font-size);
    line-height: var(--kendo-line-height);
}

.form-group {
    margin-bottom: var(--kendo-spacing-4);
}

.k-card .k-avatar.custom-avatar {
    width: 100%;
    height: initial;
}

.k-drawer-content {
    padding: var(--kendo-spacing-4);
}

h3 {
    font-size: var(--kendo-font-size-lg);
    font-weight: var(--kendo-font-weight-semibold);
}

h4 {
    font-size: var(--kendo-font-size-md);
    font-weight: var(--kendo-font-weight-semibold);
}

.badge {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}