.k-widget .row,
      .k-widget [class^="col-"] {
        box-sizing: border-box;
      }
      html .k-widget,
      html .k-tabstrip .k-content {
        color: inherit;
      }

      .k-chart {
        border-width: 0;
      }



      kendo-tabstrip {
        position: relative;
        display: block;
      }




      #app {
        display: block;

        > .row {
          min-height: 100vh;
          align-items: stretch;
        }
      }




      #nav {
        padding-left: var(--kendo-spacing-8);
        padding-right: var(--kendo-spacing-8);
        width: var(--dashboard-navigation-width);
        box-sizing: border-box;
        flex-basis: auto;
        flex-grow: 0;
        position: relative;
        z-index: 2;
        transform: translateX(0);

        #app-title { position: relative; }
        #app-title::after {
          content: "";
          width: var(--kendo-spacing-6);
          border-bottom: var(--kendo-spacing-0\.5) solid var(--kendo-color-primary);
          position: absolute;
          left: 0;
          top: calc(var(--kendo-font-size-xl) + var(--kendo-font-size-lg) + var(--kendo-spacing-6));
        }

        hr { border: 0; }
        .h4 {
          font-size: var(--kendo-font-size-xs);
          font-weight: var(--kendo-font-weight-normal);
          text-transform: uppercase;
          opacity: .3;
        }

        .nav-pills {
          margin-left: calc(var(--kendo-spacing-8) * -1);
          margin-right: calc(var(--kendo-spacing-8) * -1);
          font-size: var(--kendo-font-size-lg);
        }
        .nav-pills .nav-link {
          padding-left: var(--kendo-spacing-8);
          padding-right: var(--kendo-spacing-8);
        }
        .nav-pills .nav-link:not(.active) {
          color: inherit;
        }
      }
      #app-title {
        margin: 0;
        font-weight: normal;
        text-transform: uppercase;
      }
      #app-subtitle {
        margin: 0;
        font-size: var(--kendo-font-size-xs);
        font-weight: var(--kendo-font-weight-thin);
        text-transform: uppercase;
        opacity: .75;
      }
      #copy {
        color: var(--kendo-color-subtle);
        font-size: var(--kendo-font-size-sm);
        position: relative;
      }
      #copy::after {
        content: "";
        width: var(--kendo-spacing-6);
        border-top: var(--kendo-spacing-0\.5) solid currentColor;
        position: absolute;
        left: 0;
        top: calc(var(--kendo-spacing-6) * -1);
      }

      .top-bar {
        padding: var(--kendo-spacing-1);
        font-size: var(--kendo-font-size-xl);
        line-height: var(--kendo-line-height-xs);

        &:before { content: "."; display: block; }
      }
      .nav-toggle {
        padding: var(--kendo-spacing-1);
        background: inherit;
        font-size: var(--kendo-font-size-xl);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 100%;
        cursor: pointer;
      }



      @media (max-width: map-get($grid-breakpoints, md) ) {
        #nav {
          width: var(--dashboard-navigation-width);
          max-width: none;
          transform: translateX(-100%);
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          box-shadow: var(--kendo-elevation-4);
        }

        #nav.expand {
          transform: translateX(0);
        }
      }




      main {
        overflow: auto;
        position: relative;
        z-index: 1;


        .card {}
        .card .card-header {}
      }




      .dashboard {
        display: block;


        .card {
          margin-top: var(--kendo-spacing-6);
        }
        .card-block {
          position: relative;
        }


        .k-tabstrip {
          background: none;
        }
        .k-tabstrip .k-tabstrip-items {
          position: absolute;
          top: calc( 1.75em + 2px );
          right: 0;
          z-index: 2;
        }
        .k-tabstrip .k-content {
          margin: 0;
          padding: 0;
          border: 0;
          background: none;
          overflow: hidden;
        }


        .comp-label {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          strong {
            font-size: 4.5em;
            line-height: 1;
            font-weight: 400;
            display: block;
          }
          small {
            font-size: 1.1em;
            text-transform: uppercase;
            display: block;
          }
        }
        a {
          -webkit-user-select: none;
          cursor: pointer;
        }


        .active-issues {}
        .closed-issues {}
        .open-issues {}
        .close-rate {
          .k-chart {
            padding-top: var(--kendo-spacing-1\.5);
          }
        }

        .issue-types {
          overflow: hidden;
        }
        .issue-types .card-block {
          max-width: 100%;
          margin: auto;
        }
        .issue-types .chart-label {
          margin: -1em 0 0;
          white-space: nowrap;
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }




      // Issues
      .issues {
        display: block;


        .badge {
          margin-right: .5em;
        }

        img {
          max-width: 100%;
        }

        .issue-status {
          display: inline-block;
          vertical-align: middle;
          width: var(--kendo-spacing-4);
          height: var(--kendo-spacing-4);
        }
        .issue-open { background-image: url( "../assets/issue-open.png" ) }
        .issue-closed { background-image: url( "../assets/issue-closed.png" ) }
      }




      .signin {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        color: var(--kendo-color-on-inverse);
        background-color: var(--kendo-color-inverse);
        background-image: url( "../assets/login-left-bg.png" ), url( "../assets/login-right-bg.png" );
        background-position: left center, right bottom;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;

        #app-title { font-size: 4em; }
        #app-subtitle { font-size: 1em; }
      }
      .signin-form {
        width: calc(var(--kendo-spacing-24) * 3 + var(--kendo-spacing-18));
        background-color: inherit;
      }