.child {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px
}

.content {
width: 100px;
padding: 10px;
font-size: 13px;
font-family: Helvetica, Arial, sans-serif;
letter-spacing: 1px;
text-align: center;
border: 1px solid rgba(0,0,0,.05);
}
.example {
display: flex;
}
